<div class="form-group">
	<label for="timing" class="col-xs-3 control-label">{{labels.timing}}</label>
	<div class="col-xs-9">
		
		<!-- START of Interval -->
		<div class="radio">
			<label>
				<input id="timing-start" ng-model="vars.payoutTiming" type="radio"  value="start">
				{{labels.timingStart}} 
			</label>
		</div>

		<!-- END of year -->
		<div class="radio">
			<label>
				<input id="timing-end" ng-model="vars.payoutTiming" type="radio" value="end">
				{{labels.timingEnd}}
			</label>
		</div>
	</div>
</div>
