<div class="form-group">
	<label for="payout-timing" class="col-sm-3 control-label">{{labels.timing}}</label>
	<div class="col-sm-9">
		<!-- START of Year -->
		
		<div class="radio">
			<label>
				<input id="payout-timing1" ng-model="vars.payoutTiming" type="radio"  value="start">
				{{labels.timingStart}} 
			</label>
		</div>

		<!-- END of year -->
		<div class="radio">
			<label>
				<input id="payout-timing1" ng-model="vars.payoutTiming" type="radio" value="end">
				{{labels.timingEnd}}
			</label>
		</div>
	</div>
</div>
