
  <ng-include src="fields.principal"></ng-include>
  
  <div class="form-group bg-info row">
  	<label for="pre-retirement" class="col-sm-3 col-xs-12 control-label text-align-left text-info">Pre-Retirement</label>
  </div>
  
  <ng-include src="fields.annualAddition"></ng-include>
  <ng-include src="fields.years"></ng-include>
  <ng-include src="fields.ratePercent"></ng-include>

  <div class="form-group bg-info row">
  	<label for="in-retirement" class="col-sm-3 col-xs-12 control-label text-align-left text-info">In Retirement</label>
  </div>



  <div class="form-group">
    <label for="yearsToPayout" class="col-xs-3 control-label">
		<span class="hidden-xs">Years to Payout</span>
		<small class="visible-xs">Years to Payout</small>
	</label>
    <div class="input-group col-xs-9">
      <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
      <input id="yearsToPayout" ng-model="vars.yearsToPayout" required type="number" min="1" class="form-control" placeholder="Whole years please">
    </div>
  </div>

  <div class="form-group">
    <label for="ratePercentRetirement" class="col-xs-3 control-label">{{labels.ratePercent}}</label>
    <div class="input-group col-xs-9">
       <strong class="input-group-addon">%</strong>
       <input id="ratePercentRetirement" ng-model="vars.ratePercentRetirement" min="0" max="1" 
	   		required type="number" min="0" max="1" class="form-control" placeholder="e.g., enter .08 for 8%">
    </div>
  </div>
  
  <ng-include src="fields.calculateResults"></ng-include>


