<form id="calculatorForm" role="form" class="form-horizontal">

	<ng-include src="fields.principal"></ng-include>
	<ng-include src="fields.annualAddition"></ng-include>	  
	<ng-include src="fields.years"></ng-include>
	<ng-include src="fields.ratePercent"></ng-include>

	<div class="form-group">
		<label for="compoundFrequency" class="col-xs-3 control-label">Compound Interest</label>
		<div class="input-group col-xs-9">
			<span class="input-group-addon"><span class="glyphicon glyphicon-repeat"></span></span>
			<input id="compoundFrequency" ng-model="vars.compoundFrequency" required type="text" class="form-control" placeholder="Enter a whole number e.g., 1, 2, 3 ..."/>
			<span class="input-group-addon"> time(s) annually </span>
		</div>
	</div>

	<ng-include src="fields.calculateResults"></ng-include>

</form>

<div class="clearfix"></div>
