<form id="calculatorForm" role="form" class="form-horizontal">

      <ng-include src="fields.principal"></ng-include>
	  <ng-include src="fields.ratePercent"></ng-include>
	  <ng-include src="fields.years"></ng-include>


  <div class="form-group">
    <label for="payout-timing" class="col-sm-3 control-label">Payouts are made at the</label>
    <div class="col-sm-9">
    <div class="radio">
      <label>
        <input type="radio" name="payout-timing" id="payout-timing1" value="start">
        Beginning of each year (annuity due) 
      </label>
      </div>
      <div class="radio">
      <label>
        <input type="radio" name="payout-timing" id="payout-timing2" value="end">
        Close of each year  (ordinary / immediate annuity)
      </label>
      </div>
    </div>
  </div>

  <ng-include src="fields.calculateResults"></ng-include>


</form>
<div class="clearfix"></div>
